extends layout

block content
  script(src="lib/angular/angular.js")
  script(src="lib/angular/angular-route.js")
  script(src="js/app.js")
  script(src="js/services.js")
  script(src="js/controllers.js")
  script(src="js/filters.js")
  script(src="js/directives.js")
  div(ng-app="burgo")
    h1= title
    p Welcome to #{title}
    div(ng-controller="TablaCtrl")
      a(id="agregar_evento" href="#" ng-click="mostrar_editor_evento()") Agregar Evento
      div(id="form_editar_evento" ng-show="mostrar_evento") 
        | fecha: 
        input(ng-model="nuevo_evento.fecha")
        | lugar:
        input(ng-model="nuevo_evento.lugar") 
        | descripcion:
        br
        input(ng-model="nuevo_evento.descripcion")
        a(id="guardar_evento" ng-click="guardar_evento()") Guardar
        a(id="editor_cancelar_evento" ng-click="editor_cancelar_evento()") Cancelar
      div(id="form_editar_palabra" ng-show="mostrar_detalle_palabra")
        div {{ palabra.palabra }}
        a(ng-click="palabra.agregar_como_objeto()" ng-show="palabra.mostrar_agregar()")
        div(ng-show="palabra.objetos.length == 0") Agregar como Objeto con key 
          input(ng-model="palabra.key") 
          a(ng-click="palabra.agregar()") agregar
      table()
        thead
          tr
            td
            td(ng-repeat="lugar in lugares")
              {{lugar}}
        tbody
          tr(ng-repeat="(fecha, eventos) in tabla")
            td
              {{mostrar_fecha(fecha)}}
            td(ng-repeat="(lugar, evento) in eventos.data")
              div(ng-repeat="(key, item) in evento")
                span(class="{{palabra.clase}}" ng-repeat="palabra in item.parseado" ng-click="ver_detalle_palabra(palabra)")
                  {{palabra.palabra}} 
                a(ng-click="modificar_evento(fecha, lugar, item)" alt="{{item.id}}" class="editar") editar 
                a(ng-click="borrar_evento(item._id)" class="borrar") borrar


